@model ExperimentCaptcha.Models.DraftUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DraftUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
